{% extends 'base.html' %}

{% block title %}
Doctor Detail View
{% endblock %}

{% block content %}
<h4> To update/delete a doctor's info, you first need to search for a doctor </h4>
</br>
</br>
</br>
<div class="d-flex justify-content-center">
   <form method="POST">
     {% csrf_token %}
     <label for="id">ID:</label>
     <input type="text" name="id">
     <input type="submit" value="Search">
   </form>
</div>
{% if data %}
<p>Instance found:</p>
<div class="d-flex justify-content-center">
    <table class="table table-sm table-striped table-dark mx-auto">
        <tr class="table-primary">
            <th>Patient ID</th>
            <th>Current Smoker</th>
            <th>Condition 1</th>
            <th>Condition 2</th>
            <th>Condition 3</th>
            <th>Condition 4</th>
            <th>Condition 5</th>
            <th>Condition 6</th>
            <th>Condition 7</th>
            <th>Condition 8</th>
            <th>Condition 9</th>
            <th>Condition 10</th>
        </tr>
        <tbody>
            <tr>
                <td>{{ data.patient }}</td>
                <td> {{ data.curent_smoker }} </td>
                <td>{{ data.condition_1 }}</td>
                <td>{{ data.condition_2 }}</td>
                <td>{{ data.condition_3 }}</td>
                <td>{{ data.condition_4 }}</td>
                <td>{{ data.condition_5 }}</td>
                <td>{{ data.condition_6 }}</td>
                <td>{{ data.condition_7 }}</td>
                <td>{{ data.condition_8 }}</td>
                <td>{{ data.condition_9 }}</td>
                <td>{{ data.condition_10 }}</td>
            </tr>
           
        </tbody>
    </table>
</div>
<div class = "container">
<p><a href = {% url 'ph-update' id=data.patient.patient_id %}>Update</a></p>
<p><a href = {% url 'ph-delete' id=data.patient.patient_id %}>Delete</a></p>
{% endif %}
{% endblock %} 



