{% extends 'base.html' %}

{% block title %}
Patient List View
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <table class="table table-sm table-striped table-dark mx-auto">
        <tr class="table-primary">
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Ethnicity</th>
        </tr>
        <tbody>
            {% for data in dataset %}
            <tr>
                <td>{{ data.patient_id }}</td>
                <td>{{ data.firstname }}</td>
                <td>{{ data.lastname }}</td>
                <td>{{ data.dob }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.biol_sex }}</td>
                <td>{{ data.doctor_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}